.logo_box {
	margin-top: 70upx;
	// .logoimg {
	// 	width: 358upx;
	// 	height: 190upx;
	// 	display: block;
	// 	margin: 0 auto;
	// }
	.logoimg {
		width: 180upx;
		height: 180upx;
		border-radius: 50%;
		display: block;
		margin: 0 auto;
	}
}

.content {
	padding: 0 80upx;
	margin-top: 50upx;
	.input_list {
		display: flex;
		height: 100upx;
		border-bottom: $border;
		margin-top: 20upx;
		.icon {
			width: 12%;
			.img {
				width: 46upx;
				height: 46upx;
				display: block;
				margin: 27upx auto;
			}
		}
		.input_box {
			width: 86%;
			margin-left: 2%;
			.input {
				width: 100%;
				height: 100upx;
				line-height: 100upx;
				font-size: 30upx;
				color: $title-color;
			}
		}
		.input_box2 {
			width: 46%;
			margin-left: 2%;
		}
		.button_box {
			width: 40%;
			.codebtn {
				font-size: 28upx;
				background-color: $nobtn-color;
				color: $btn-color;
				height: 80upx;
				line-height: 80upx;
				padding: 0;
				margin-top: 10upx;
			}
		}
	}
	.submitbtn {
		margin-top: 90upx;
		background-color: $btn-color;
		color: #FFFFFF;
		font-size: 30upx;
		letter-spacing: 6upx;
		height: 90upx;
		line-height: 90upx;
		border-radius: 50upx;
	}
}